<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>node new</name>
  <description></description>
  <remoteFS>/home/ec2-user/</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.973.v0fa_8c0dea_f9f">
    <host>172.31.44.133</host>
    <port>22</port>
    <credentialsId>e5966681-2c76-4ef1-b8e4-c30b0b9d3afb</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>c-project</label>
  <nodeProperties>
    <hudson.node__monitors.DiskSpaceMonitorNodeProperty>
      <freeDiskSpaceThreshold>0</freeDiskSpaceThreshold>
      <freeTempSpaceThreshold>0</freeTempSpaceThreshold>
      <freeDiskSpaceWarningThreshold>2GiB</freeDiskSpaceWarningThreshold>
      <freeTempSpaceWarningThreshold>2GiB</freeTempSpaceWarningThreshold>
    </hudson.node__monitors.DiskSpaceMonitorNodeProperty>
  </nodeProperties>
</slave>